.buttonsTimerContainer {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    font-family: inherit;
    color: white;
    font-weight: 500;
  }
}

.mainButtons {
  background-color: #008caa;
}
.secondaryButtons {
  background-color: #ff2323;
}
