.primaryText {
  font-size: 4rem;
}

.secondaryText {
  font-size: 2rem;
}

.buttonsContainer {
  margin-top: 12px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

@media (width <= $breakpoint-mobile-min) {
  .buttonsContainer {
    flex-direction: column;
  }
}
