.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  width: 70%;
  height: 50%;
  border-radius: $general-radius;
  background-color: $color-card;
}

.alignEnd {
  display: flex;
  align-items: center;

  flex-direction: column;

  text-align: center;

  width: 70%;
  height: 80%;
  padding-top: 24px;
  border-radius: $general-radius;
  background-color: $color-card;
}

@media (width <= $breakpoint-mobile-min) {
  .card {
    width: 90%;
    height: 40%;
  }
  .alignEnd {
    width: 90%;
  }
}
