.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  width: 60%;
  height: 50%;
  border-radius: $general-radius;
  background-color: $color-card;
}

.alignEnd {
  display: flex;
  align-items: center;
  align-self: end;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  width: 60%;
  height: 80%;
  border-radius: $general-radius;
  background-color: $color-card;
}
