.textCenter {
  text-align: center;
}

.ContainerForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 24px;
  .formLabel {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  input {
    margin-top: 8px;
    height: 40px;
    border-radius: $general-radius;
    margin-bottom: 16px;

    font-size: 1.5rem;
    text-align: center;
  }
  option {
    font-size: 1.5rem;
    text-align: center;
  }

  input::placeholder {
    font-size: 1.5rem;
    text-align: center;
  }
}

.primaryText {
  padding-top: 32px;
  font-size: 2rem;
}

.secondaryText {
  font-size: 1.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 8px;
}

@media (width <= $breakpoint-mobile-min) {
  .formGroup {
    width: 80%;
  }
}
